services:
  app:
    build: .
    container_name: chat-app
    ports:
     - "8080:8080"
    environment:
     - DB_HOST=postgres
    depends_on:
     - postgres
    restart:
     on-failure

  postgres:
    image: postgres:latest
    container_name: postgres-api
    environment:
      POSTGRES_DB: chatdb
      POSTGRES_ADDRESS: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: pgpassword123
    ports:
      - "5432:5432"